version: "3.9"

services:
  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
    volumes:
      - wp_data:/var/www/html
    ports:
      - "443:443"
    depends_on:
      - wordpress
    networks:
      - inception
    restart: unless-stopped

  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
    volumes:
      - wp_data:/var/www/html
    depends_on:
      - mariadb
    env_file:
      - ../secrets/.env
    networks:
      - inception
    restart: unless-stopped

  mariadb:
    container_name: mariadb
    build:
      context: ./requirements/mariadb
    secrets:
      - db_password
      - db_root_password
    volumes:
      - mariadb_data:/var/lib/mysql
    env_file:
      - ../secrets/.env
    networks:
      - inception
    restart: unless-stopped




volumes:
  mariadb_data:
    driver: local
    driver_opts:
      device: /home/cmarrued/data/mariadb
      o: bind
      type: none
  wp_data:
    driver: local
    driver_opts:
      device: /home/cmarrued/data/wordpress
      o: bind
      type: none

networks:
  inception:
    name: inception
    driver: bridge